﻿/body {
 text-align:center;
}

#container {
 width:100%;
 margin-left:auto;
 margin-right:auto;
 text-align:left;
}

#sidebar {
 width:200px;
 float:left;
 background-color: #ffe080;
}

#main {
 width:600px;
 float:left;
 background-color: #dde080;
}
